section.container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  section.container .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 15px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: #C0C0C0;
  }
  
  section.container img, p, h2 {
    padding: 5px;
  }

  section.container .item-hide {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background: #C0C0C0;
  }